PORT=4000
DB_DIALECT=sqlite
DB_STORAGE=./gestor_expedientes.db
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=gestor_expedientes
JWT_SECRET=cambia_esto_por_un_secreto_largo
